<div style="font-family: sans-serif; padding: 2rem;">
    <h1 class="fs-1 fst-bold">Hello again!</h1>
    
    <p>We're here because your password was reseted for <%=username%>'s account</p>
    
    <p style="font-style: italic; color: gray;">Note: if you didn't changed your password, please contact our support and change your email's password.</p>
</div>