<div style="font-family: sans-serif; padding: 2rem;">

    <h1 style="font-size: 1.56rem; font-weight: bold;">Hello, comrade!</h1>

    <p>Looks like you have forgot your password, well, you don't need to worry, we've got you!</p>

    <p>Click on <a style="color: rgb(192, 127, 77);" href="<%=link%>">this</a> link to get your password again!</p>

    <p style="font-style: italic; color: gray;">Note: if you didn't request this, simply ignore the email.</p>
</div>