<div style="font-family: sans-serif; padding: 2rem;">
    <h1 class="fs-1 fst-bold">Hello, comrad!</h1>
    
    <p>We're here 'cause someone logged in on your account and you have 2FA authentication. <br>To log in, simply copy the code below and paste it on the input box. </p>

    <p style="font-style: italic; color: rgba(177, 172, 172, 0.692);"><%=code%></p>

    <p style="font-style: italic; color: gray;">For questions or support, contact us.</p>
</div>